@use "./colors" as *;

// Double shadow for input field
@mixin input-shadow {
    box-shadow:
        0px 2px 4px -2px rgba(24, 39, 75, 0.08),
        0px 4px 4px -2px rgba(24, 39, 75, 0.08);
}

// Double shadow for testimonial element
@mixin testimonial-shadow {
    box-shadow:
        0px 6px 8px -6px rgba(24, 39, 75, 0.12),
        0px 8px 16px -6px rgba(24, 39, 75, 0.08);
}

// Double shadow for project screenshoot
@mixin project-image-shadow {
    box-shadow:
        0px 8px 18px -6px rgba(24, 39, 75, 0.12),
        0px 12px 42px -4px rgba(24, 39, 75, 0.12);
}

// Double white shadow for loader on black background
@mixin loader-white-shadow {
    box-shadow:
        0px 4px 8px -4px rgba($primary-white, 0.25),
        0px 8px 8px -4px rgba($primary-white, 0.15);
}

// Double black shadow for loader on white background
@mixin loader-black-shadow {
    box-shadow:
        0px 4px 8px -4px rgba($primary-black, 0.25),
        0px 8px 8px -4px rgba($primary-black, 0.15);
}

